<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Encontrar Edificio</title>
<meta name="viewport" content="width=devide-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta name="author" content="Everton Teixeira"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawsome.com/006642858d.js>"></script>
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #64B5F6">
			<a class="navbar-brand" th:href="@{/index}"> 
				<img src="/img/logo.png" width=120px/>
			</a>	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			
			<div id="navMobile" class="navbar-collapse collapse justify-content-end" >

				<a class="btn-nav nav-item nav-link" th:href="@{\index}"> Home </a>
				<a class="btn-nav nav-item nav-link" th:href="@{inserirEdificios}"> Cadastrar Edificio </a>
				<a class="btn-nav nav-item nav-link" th:href="@{cadastroLogin}"> Cadastrar Usuário </a>
				<form action="/logout" method="post">
					<button type="submit" class="btn-nav nav-item nav-link btn-danger" > Sair </button>
				</form>
				
			</div>
		</nav>
	</header>
	
	<div class="container">
		<h4> Encontrar Edificio</h4>
		<hr>
		<br>
		<form method="post" action="/pesquisar-edificio" th:object="${edificio}">
			<div class="input-group col-6 offset-3">
				<input class="form-control" placeholder="Busque pelo edificio" th:field="*{nome}">
				<div class="input-group append">
				<button type="submit" class="btn-col btn-outline-secondary"> Pesquisar </button> 
				</div>
			</div>
		</form>
		
		
<!-- 		<div class="row"> -->
<!-- 			<div class="card" style="width: 288px">  -->
<!-- 				<a th:href="@{/edificios-sp}" class="btn btn-outline-primary">Clique aqui!</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>
	<footer th:fragment="rodape">
		<div class="rodape">
			<spam> Todos os Direitos Reservados - 2025 &copy; Checkup Informática LTDA. </spam>
		</div>
	</footer>
		
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
 	<script>
 		$('#fonez1').mask('(00) 00000-0000');
 		$('#fones1').mask('(00) 00000-0000');
 		$('#cep').mask('00000-000');
 	</script>
</body>
</html>