<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> + Inserir Edificio</title>
<meta name="viewport" content="width=devide-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta name="author" content="Everton Teixeira"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawsome.com/006642858d.js>"></script>
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #64B5F6">
			<a class="navbar-brand" th:href="@{/index}"> 
				<img src="/img/logo.png" width=120px/>
			</a>	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			
			<div id="navMobile" class="navbar-collapse collapse justify-content-end" >

				<a class="btn-nav nav-item nav-link" th:href="@{\index}"> Home </a>
				<a class="btn-nav nav-item nav-link" th:href="@{inserirEdificios}"> Cadastrar Edificio </a>
				<a class="btn-nav nav-item nav-link" th:href="@{cadastroLogin}"> Cadastrar Usuário </a>
				<form action="/logout" method="post">
					<button type="submit" class="btn-nav nav-item nav-link btn-danger" > Sair </button>
				</form>
				
			</div>
		</nav>
	</header>
	
	<div class="container">
		<h4> + Inserir Edificio</h4>
		<hr>
<!-- nome -->
			<form method="post" action="/insertEdificio" th:object="${edificio}">
			<div class="row">
				<div class="col-md-8 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
					<label class="validation-message" th:errors="*{nome}"></label>
				</div>
					<label> Edifício </label>
					<input class="form-control" placeholder="Ex: 001 Maracatu" th:field="*{nome}" size="100"  maxlength="100">
				</div>
			</div> 
			
			<div class="row">
				
				<div class="col-md-6 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('endereco')}">
					<label class="validation-message" th:errors="*{endereco}"></label>
				</div>
					<label> Endereço </label>
					<input class="form-control" placeholder="Ex: Rua ....." th:field="*{endereco}" size="50"  maxlength="40">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('bairro')}">
					<label class="validation-message" th:errors="*{bairro}"></label>
				</div>
					<label> Bairro </label>
					<input class="form-control" placeholder="Ex: Jardim" th:field="*{bairro}" size="50"  maxlength="40">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('cidade')}">
					<label class="validation-message" th:errors="*{cidade}"></label>
				</div>
					<label> Cidade </label>
					<input class="form-control" placeholder="Ex: Santana do ..." th:field="*{cidade}" size="50"  maxlength="40">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('cep')}">
					<label class="validation-message" th:errors="*{cep}"></label>
				</div>
					<label> Cep </label>
					<input id="cep" class="form-control" placeholder="Ex: 00000-000" th:field="*{cep}" size="15"  maxlength="15">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-2 form-group offset-md-1">
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('uf')}">
					<label class="validation-message" th:errors="*{uf}"></label>
				</div>
					<label> Selecione a UF : </label>
					<select class="form-control" th:field="*{uf}">
						<option th:each="uf : ${T(br.com.sampaio.enums.Uf).values()}" th:value="${uf}" th:text="${uf}"> 
						</option>
					</select>
				</div>
			</div> 
			
			<div class="row"> 
				<div class="col-md-6 form-group offset-md-1">
					<label> Sindico </label>
					<input class="form-control" th:field="*{sindico}" size="50"  maxlength="40">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> Telefone Sindico </label>
					<input id="fones1" class="form-control" th:field="*{fones1}" placeholder="Ex: (11) 99999-999" size="15"  maxlength="15">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
					<label> Zelador </label>
					<input class="form-control" th:field="*{zelador}" size="50"  maxlength="40">
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> Telefone Zelador </label>
					<input id="fonez1" class="form-control" th:field="*{fonez1}" placeholder="Ex: (11) 99999-999" size="15"  maxlength="15">
				</div>
			</div> 

			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label>Mandato</label>
					<input type="date" class="form-control" th:field="*{mandato}" >
				</div>
			</div> 
			
			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label>Seguro</label>
					<input type="date" class="form-control" th:field="*{seguro}" >
				</div>
			</div> 

			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label>Dia</label>
					<input id="dia" class="form-control" th:field="*{dia}" >
				</div>
			</div> 

			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
					<label> Conta </label>
					<input class="form-control" th:field="*{conta}" size="30"  maxlength="7">
				</div>
			</div> 

			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
					<label> Agência </label>
					<input class="form-control" th:field="*{agencia}" size="30"  maxlength="4">
				</div>
			</div> 

			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
					<label> Cedente </label>
					<input class="form-control" th:field="*{cedente}" size="30"  maxlength="10">
				</div>
			</div> 

			<div class="row">
				<div class="col-md-6 form-group offset-md-1">
					<label> CNPJ </label>
					<input class="form-control" th:field="*{cnpj}" size="30"  maxlength="30">
				</div>
			</div> 

			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> % Reserva </label>
					<input id="preserva" class="form-control" th:field="*{preserva}" size="30"  maxlength="5">
				</div>
			</div>	

			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> % Obra </label>
					<input id="pobras" class="form-control" th:field="*{pobras}" size="30"  maxlength="5">
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> % Multa </label>
					<input id="pmulta" class="form-control" th:field="*{pmulta}" size="30"  maxlength="5">
				</div>	
			</div>

			<div class="row">
				<div class="col-md-3 form-group offset-md-1">
					<label> % Manutenção </label>
					<input id="pmanutencao" class="form-control" th:field="*{pmanutencao}" size="30"  maxlength="5">
				</div>
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-success offset-md-1"> SALVAR </button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a th:href="@{/index}" class="btn btn-outline-danger"> VOLTAR </a>
			</div>
			
			</form>
		</hr>
	</div>
	
	<footer th:fragment="rodape">
		<div class="rodape">
			<spam> Todos os Direitos Reservados - 2025 &copy; Checkup Informática LTDA. </spam>
		</div>
	</footer>
		
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
 	<script>
 		$('#fonez1').mask('(00) 00000-0000');
 		$('#fones1').mask('(00) 00000-0000');
 		$('#cep').mask('00000-000');
		 $('#preserva').mask('000,0', {reverse: true});
		 $('#pobras').mask('000,0', {reverse: true});
		 $('#pmulta').mask('000,0', {reverse: true});
		 $('#pmanutencao').mask('000,0', {reverse: true});
		 $('#dia').mask('00');
 	</script>
</body>
</html>